#boxLeft {
    color: rgb(100, 100, 100);
    background-color: rgb(240, 240, 240);

    padding: 10px;
    margin: 0;
    border-radius: 10px;

    width: 90%;
}

#commentBox {
    width: 100%;
}

#commentBox-name {
    padding: 2px;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}

#commentBox-comment {
    padding: 2px;
    word-wrap: break-word;
}

#boxBtnLeft {
    display: flex;
    justify-content: right;
}
#boxBtnLeft button {
    background-color:  rgb(240, 240, 240);
    border: none;
}

#inputEditComment{
    width: 90%;
    height: 10vh;

    margin: 5px 0 5px 0 ;
    padding: 5px;
    
    border: 1px solid gray;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

#btn-edit {
    color: rgb(0, 0, 200);
}
#btn-edit:hover {
    color: rgba(0, 0, 200, 0.7);
}
#btn-edit:active {
    color: rgb(0, 0, 200);
}

#btn-del {
    color: rgb(200, 0, 0);
}
#btn-del:hover {
    color: rgba(200, 0, 0, 0.7);
}
#btn-del:active {
    color: rgb(200, 0, 0);
}




